<div class="destination">
  <app-menu></app-menu>

  <h5>PICK YOUR DESTINATION</h5>

  <section>
    <destination-picture [destinationImage]="image"></destination-picture>

    <nav class="destination__nav">
      <ul>
        <li>MOON</li>
        <li>MARS</li>
        <li>EUROPA</li>
        <li>TITAN</li>
      </ul>
    </nav>

    <destination-info
      [destinationTitle]="title"
      [destinationDescription]="description"
      [destinationDistance]="distance"
      [destinationTravel]="  travel: string;
    "
    ></destination-info>
  </section>
</div>
