<div class="destination">
  <app-menu></app-menu>

  <h5>PICK YOUR DESTINATION</h5>

  <section>
    <destination-picture [destinationImage]="image"></destination-picture>

    <nav class="destination__nav">
      <ul>
        <li
          [class.active]="selectedDestination==='Moon'"
          (click)="getAllDestinations(0)"
        >
          MOON
        </li>
        <li class="tabs" (click)="getAllDestinations(1)">MARS</li>
        <li class="tabs" (click)="getAllDestinations(2)">EUROPA</li>
        <li class="tabs" (click)="getAllDestinations(3)">TITAN</li>
      </ul>
    </nav>

    <destination-info
      [destinationTitle]="title"
      [destinationDescription]="description"
      [destinationDistance]="distance"
      [destinationTravel]="travel"
    ></destination-info>
  </section>
</div>
