.home {
  height: 100vh;
  min-height: 100%;
  width: 100vw;
  max-width: 1440px;
  background-image: url("../../../assets/home/background-home-mobile.jpg");
  background-repeat: no-repeat;
  background-size: cover;

  display: flex;
  flex-direction: column;
  align-items: flex-end;

  @media (min-width: 768px) {
    background-image: url("../../../assets/home/background-home-tablet.jpg");
  }

  @media (min-width: 1024px) {
    padding-top: 40px;
    background-image: url("../../../assets/home/background-home-desktop.jpg");
  }

  section {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 100%;
    padding: 0 100px;
    margin-top: 80px;

    @media (min-width: 1024px) {
      flex-direction: row;
      justify-content: space-between;
      align-items: flex-end;

      margin-top: clamp(10vh, 250px, 20vh);
      padding: 0 100px;
    }

    @media (min-width: 1440px) {
      padding: 0 165px;
    }
  }

  &__text {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 327px;

    @media (min-width: 768px) {
      width: 445px;
    }

    @media (min-width: 1024px) {
      align-items: flex-start;
    }

    h5 {
      color: var(--light-color);
      font-size: 16px;

      @media (min-width: 768px) {
        font-size: 20px;
      }

      @media (min-width: 768px) {
        font-size: 28px;
      }
    }

    h1 {
      color: var(--white-color);
      font-size: 80px;

      @media (min-width: 768px) {
        font-size: 150px;
      }
    }

    p {
      color: var(--light-color);
      text-align: justify;
      font-size: 15px;
      font-weight: 300;
      text-align: center;

      @media (min-width: 768px) {
        font-size: 16px;
      }

      @media (min-width: 1024px) {
        font-size: 18px;
        font-weight: 400;
        text-align: start;
      }
    }
  }

  &__button {
    display: flex;
    justify-content: center;
    align-items: flex-end;

    width: 327px;
    margin-top: 50px;

    cursor: pointer;

    @media (min-width: 768px) {
      width: 445px;
      margin-top: 100px;
    }

    @media (min-width: 1024px) {
      justify-content: end;
      margin-top: 0;
    }

    &--white {
      // box-sizing: border-box;
      display: flex;
      justify-content: center;
      align-items: center;

      background-color: var(--white-color);
      width: 150px;
      height: 150px;
      border-radius: 50%;

      font-family: "Bellefair";
      font-size: 20px;
      color: var(--dark-color);

      @media (min-width: 768px) {
        width: 242px;
        height: 242px;
        font-size: 32px;
      }

      @media (min-width: 1024px) {
        width: 275px;
        height: 275px;
      }

      &:hover {
        animation: pulsing-border 2.5s infinite;

        @keyframes pulsing-border {
          0% {
            outline: 1px solid white;
          }
          100% {
            outline: 80px solid rgba(255, 255, 255, 0.01);
          }
        }
      }
    }
  }
}
