.destinationInfo {
  width: 327px;
  height: 250px;

  @media (min-width: 768px) {
    width: 575px;
    height: auto;
  }

  @media (min-width: 768px) {
    width: 444px;
    height: auto;
  }

  &__description {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin-bottom: 30px;

    @media (min-width: 140px) {
      align-items: flex-start;
    }

    h2 {
      font-size: 56px;
      text-transform: uppercase;
      color: var(--white-color);

      @media (min-width: 768px) {
        font-size: 80px;
      }

      @media (min-width: 1440px) {
        font-size: 100px;
      }
    }

    p {
      font-size: 15px;
      font-weight: 300;
      color: var(--light-color);
      text-align: center;

      @media (min-width: 768px) {
        font-size: 18px;
      }

      @media (min-width: 1440px) {
        text-align: justify;
      }
    }
  }

  &__line {
    height: 1px;
    background-color: var(--light-color);
    opacity: 50%;
  }

  &__details {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin: 30px 0;

    @media (min-width: 768px) {
      flex-direction: row;
      justify-content: space-around;
    }

    @media (min-width: 1440px) {
      justify-content: space-between;
      padding-right: 100px;
    }

    h6 {
      margin: 10px 0;
      text-transform: uppercase;
      color: var(--white-color);
    }

    p {
      font-size: 14px;
      font-weight: 300;
      color: var(--light-color);
      text-align: center;

      @media (min-width: 1440px) {
        text-align: left;
      }
    }
  }
}
