<nav class="menu">
  <div class="menu__icon">
    <img src="../../../assets/shared/logo.svg" />
  </div>
  <div class="menu__line"></div>
  <div class="menu__options">
    <button class="menu__options--mobileBtn" type="button" (click)="showMenu()">
      <img src="../../../assets/shared/icon-hamburger.svg" />
    </button>
    <ul class="menu__options--tabs" id="mobile-menu">
      <li routerLink="/home" routerLinkActive="active">HOME</li>
      <li routerLink="/destination" routerLinkActive="active">DESTINATION</li>
      <li routerLink="/crew" routerLinkActive="active">CREW</li>
      <li routerLink="/technology" routerLinkActive="active">TECHNOLOGY</li>
    </ul>
  </div>
</nav>
