<nav class="menu">
  <div class="menu__icon">
    <img src="../../../assets/shared/logo.svg" />
  </div>
  <div class="menu__line"></div>
  <div class="menu__options">
    <ul class="menu__options--tabs">
      <li routerLink="/home" routerLinkActive="active">HOME</li>
      <li routerLink="/destination" routerLinkActive="active">DESTINATION</li>
      <li routerLink="/crew" routerLinkActive="active">CREW</li>
      <li routerLink="/tecnology" routerLinkActive="active">TECHNOLOGY</li>
    </ul>
  </div>
</nav>
